PORT_APPS=:8010

BASIC_USERNAME=P5quZtpyc6Vh
BASIC_PASSWORD=6pHJ5ed7kKpJrc5JK4adhShcApfUTArZG4sUR7FXq7Szs63gAajnFQXbXdXm52cjwxfYWu

POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=password
POSTGRESQL_DBNAME=go-redis

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

